<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart and funny title</title>
  </head>
  <body>
    <main>
        <h1>You've heard of it, haven't you? The legend of Sparda? When I was young, my father would tell me stories about it. Long ago, in ancient times, a demon rebelled against his own kind for the sake of the human race. With his sword, he shut the portal to the demonic realm and sealed the evil entity off from our human world. But since he was a demon himself, his power was also trapped on the other side. I never believed it. I thought it was just a child's fairy tale. I discover that the so-called legend wasn't a myth at all. Sparda existed. How do I know? Well... I met the sons of Sparda - Both of them. Though the same blood of their father flow through their veins, the two battled each other fiercely like arch enemies. It seems as if they drive some twisted pleasure from this brotherly fighting. But in the end... only one was left standing.</h1>  
        <img src = "static/cat.jpg">
    </main>
  </body>
</html>